[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
spacy = "*"
en-core-web-md = {file = "https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.7.1/en_core_web_md-3.7.1.tar.gz"}
numpy = "*"
scikit-learn = "*"
pandas = "*"
joblib = "*"
readability = "*"
beautifulsoup4 = "*"
spellchecker = "*"
seaborn = "*"
matplotlib = "*"

[dev-packages]

[requires]
python_version = "3.9"
python_full_version = "3.9.6"
